body {
    overflow-x: hidden;
}

.car strong {
    color: #fff;
}

.principal {
    color: #fff;
    background-color: #222;
    padding-top: 80px;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    margin: 8rem 0 0 0;
    flex: 1; /* Assume o máximo de largura do section */
}

.product {
    display: flex;
    align-items: center;
}

.product .item {
    width: 80px;
    height: 80px;
}

.caixa {
    min-width: 15px; /* Largura da caixa */
    position: relative;
    margin-left: 60rem;
    top: -50rem;
    right: 50px;
}

.caixa .resumo {
    /* header do resumo de compras */
    position: relative;
    padding: 15px 20px;
    font-size: 18px;
    border-bottom: 1px solid #b6b1b1;
}

/* Início da herança */
.caixa .box {
    margin-bottom: 15px;
    border: 1px solid #bbb5b5;
    background: #c9c7c7;
    color: #222;
}

.caixa .box .info {
    padding: 20px;
}

.caixa .box .info > div {
    display: flex;
    justify-content: space-between; /* Faz com que o espaçamento dos itens seja iguais */
    margin-bottom: 10px;
    color: #333;
}

.caixa .box .info > div:last-child {
    margin: 0;
}

.caixa .box .info button {
    color: green;
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.caixa .box .info button i {
    font-size: 15px;
}

.caixa .box footer {
    position: relative;
    padding: 20px;
    background-color: #8f8e8e;
    font-size: 18px;
    /* Faz com que os elementos da mesma linha se afastem para direita e esquerda */
    display: flex;
    justify-content: space-between;
}

.caixa .finalizar {
    position: relative;
    border: 0;
    padding: 15px 0;
    color: white;
    background-color: #33971a;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -8px;
}

.caixa .finalizar:hover {
    background-color: #e2a738;
    color: #fff;
}


/* Fim da herança */

button {
    cursor: pointer; /* Se torna clicável */
}

/* Style da tabela */
.tabela-do-produto {
    width: 100%;
    border-collapse: collapse;
    align-items: center;
}

.tabela-do-produto thead tr {
    border-bottom: 3px solid #a5a5a5;
}

.tabela-do-produto thead th {
    text-align: left; /* Faz com que o texto fique mais próximo da esquerda */
    padding-bottom: 10px;
    color: #666;
}

.tabela-do-produto tbody tr {
    border-bottom: 3px solid #a5a5a5;
}

.tabela-do-produto tbody tr:last-child {
    /* Remove a última border da última linha */
    border: 0;
}

.tabela-do-produto tbody td {
    padding: 30px 0;
}

.product {
    /* Definições da célula do produto */
    display: flex;
    align-items: center;
}

.product .item {
    width: 80px;
    height: 80px;
}

.product .info {
    margin-left: 25px; /* Pra dar um espaçamento */
}

.product .info .name {
    font-size: 20px;
    margin-bottom: 15px; /* Definição de espaçamento entre o nome e a categoria */
}

.product .info .category {
    color: #666;
}

.price {
    margin-left: 10px;
    margin-right: 50px;
}

.qty {
    /* Style do botão de quantidade */
    background-color: #a8a8a8;
    display: inline-flex;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    min-width: 60px;
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.qty button {
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    padding: 0 10px;
    font-size: 20px;
    height: 100%;
}

.qty button:hover {
    /* Faz com que mude de cor de acordo com cursor */
    background-color: #969393;
}

.qty span {
    margin: 0 10px;
}

/* Style do botão de remover produto */
.remove {
    background-color: #a8a8a8;
    border: 0;
    width: 30px;
    height: 30px;
    left: 10rem;
    margin-left: 25px;
    border-radius: 100%; /* Para fazer um círculo */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.remove:hover {
    /* Faz com que mude de cor de acordo com cursor */
    background-color: #cc2222;
    color: #fff;
}