#footer {
    background-color: #e2a738;
    color: #111;
    font-family: fantasy;
    font-size: 13px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    bottom: 0;
}