.home strong {
    color: #fff;
}

.banner {
    height: 110vh;
    background-image: url("xy4y6x2j.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

/*Style do body*/
#noticiadestaque {
    z-index: 2;
    background-color: #dd6113;
    width: 500px;
    height: 25%;
    transform: translate(8px, 65%);
    border-radius: 0 15px 15px 0;
    font-size: 230%;
    padding-left: 5px;
}

hr {
    z-index: 3;
    transform: translate(0, 60px);
    border: #111 solid 2px;
    background-color: #111;
    width: 450px;
}

#noticiadestaque .n1, .n2 {
    transform: translate(0, 55px);
}

#noticiadestaque .n2 {
    color: #fcfcfc;
    font-size: 57%;
    padding-top: 2px;
}

.destaque {
    z-index: 2;
    background-color: #d1a66d;
    width: 450px;
    height: 40%;
    transform: translate(8px, 50%);
    border-radius: 0 15px 15px 0;
}

.h-destaque {
    background-color: #dd6113;
    width: 100%;
    height: 18%;
    color: #fff;
    font-size: 140%;
    padding-top: 12px;
    padding-left: 5px;
    border-top-right-radius: 12px;
    transform: translate(0, -1%);
}

.produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 8px auto auto auto;
    padding: 20px 10px;
    font-family: "Oswald", sans-serif;
}

.produtos label {
    border: #111 solid;
    border-radius: 12px;
    padding: 2%;
    background-color: #fff;
    color: #111;
    width: 140px;
    height: 70%;
    position: relative;
}

.produtos img {
    width: 100%;
    max-width: 110px;
    height: 110px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

.produtos .preço {
    font-size: 110%;
}

.produtos .add-carrinho button {
    background-color: #fff;
    border: 1px solid #111;
    padding: 2px 3px;
    border-radius: 8px;
    right: 1%;
    bottom: 1%;
    position: absolute;
    font-size: 55%;
    font-family: 'Lucida Sans Regular';
}

.produtos .add-carrinho button span {
    font-size: 123%;
}

.produtos .add-carrinho button:hover {
    background-color: #dd6113;
    color: #fff;
}

.nos {
    z-index: 2;
    height: auto;
    margin: auto;
    margin-bottom: 0;
    padding: 20px 15px;
    
}

.nos h2 {
    text-align: center;
    color: #f7f7f7;
    width: 66%;
    margin: auto;
}

.nos p {
    font-family: sans-serif;
    font-weight: 90;
    text-align: center;
    
    height: auto
}

.missao {
    z-index: 2;
    width: 98%; /* Define a largura (lado)específica da tela */
    height: auto; /* Define a altura (cima/baixo) específica */
    text-align: center;
    padding: 20px 15px;
}

.missao h2 {
    width: 66%;
    margin: 0 auto; /* Centraliza o h2 dentro da classe .miss */
    display: inline-block; /* Permite que a largura e a margem funcionem corretamente */
}

.missao p {
    font-family: sans-serif;
    font-weight: 90;
    text-align: center;
    margin-top: 5px;
}

.visao {
    z-index: 2;
    width: 98%; /* Define a largura (lado)específica da tela */
    height: auto; /* Define a altura (cima/baixo) específica */
    text-align: center;
    padding: 20px 15px;
}

.visao h2 {
    color: #f7f7f7;
    width: 45%;
    margin: 0 auto; /* Centraliza o h2 dentro da classe .miss */
    display: inline-block; /* Permite que a largura e a margem funcionem corretamente */
}

.visao p {
    font-family: sans-serif;
    font-weight: 70;
    text-align: center;
    margin-top: 15px;
}

/* Estilos para as seções */    
.nos, .missao, .visao {
    background-color: #ffffff;
    border-radius: 2px 2px 0 0;
}
.nos h2, .missao h2, .visao h3 {
    font-size: 1.2em; /* Reduz o tamanho da fonte dos títulos */
    color: #000000; /* Cor do texto dos títulos */
}

.nos p, .missao p, .visao p {
    font-size: 0.9em; /* Reduz o tamanho da fonte dos parágrafos */
    line-height: 1.3; /* Diminui o espaçamento entre linhas */
    color: #000000; /* Cor do texto dos parágrafos */
    margin: 0 0 0.5em 0; /* Reduz a margem inferior para menos espaçamento entre parágrafos */
}