@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Oswald:wght@700&display=swap');

.home strong {
    color:#fff;
}

.banner {
    height: 110vh;
    background-image: url("xy4y6x2j.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Style do body*/
.noticia {
    z-index: 2;
    background-color: #e2a738;
    width: 500px;
    height: 25%;
    transform: translate(8px, 65%);
    border-radius: 0 15px 15px 0;
    font-size: 230%;
    padding-left: 5px;
}

hr {
    z-index: 3;
    transform: translate(0, 60px);
    border: #111 solid 2px;
    background-color: #111;
    width: 450px;
}

.noticia .n1, .n2 {
    transform: translate(0, 55px);
}

.noticia .n2 {
    color: #f7f7f7;
    font-size: 57%;
    padding-top: 2px;
}

.destaque {
    z-index: 2;
    background-color: #fff;
    width: 450px;
    height: 40%;
    transform: translate(8px, 50%);
    border-radius: 0 15px 15px 0;
}

.h-destaque {
    background-color: #a51a1a;
    width: 100%;
    height: 18%;
    color: #fff;
    font-size: 140%;
    padding-top: 12px;
    padding-left: 5px;
    border-top-right-radius: 12px;
    transform: translate(0, -1%);
}

.produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 8px auto auto auto;
    padding: 20px 10px;
    font-family: "Oswald", sans-serif;
}

.produtos label {
    border: #111 solid;
    border-radius: 12px;
    padding: 2%;
    background-color: #fff;
    color: #111;
    width: 140px;
    height: 70%;
    position: relative;
}

.produtos img {
    width: 100%;
    max-width: 110px;
    height: 110px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

.produtos .preço {
    font-size: 110%;
}

.produtos .add-carrinho button {
    background-color: #fff;
    border: 1px solid #111;
    padding: 2px 3px;
    border-radius: 8px;
    right: 1%;
    bottom: 1%;
    position: absolute;
    font-size: 55%;
    font-family: 'Lucida Sans Regular';
}

.produtos .add-carrinho button span {
    font-size: 123%;
}

.produtos .add-carrinho button:hover {
    background-color: #e2a738;
    color: #fff;
}

.nos {
    z-index: 2;
    background-color: #555;
    width: 98%;
    height: auto;
    margin: 12px auto;
    margin-bottom: 0;
    padding: 20px 15px;
    border-radius: 2px 2px 0 0;
}

.nos h2 {
    text-align: center;
    font-size: 200%;
    color: #f7f7f7;
    border-bottom: #f7f7f7 solid 2px;
    width: 66%;
    margin: auto;
}

.nos p {
    font-family: sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 25px;
}