 table {
        width: 100%;
        border-collapse: collapse;
        ali
}
th, td {
        padding: 8px 12px;
        border: 1px solid #ddd;
        text-align: left;
}

th {
        background-color: #f4f4f4;
}

img {
        max-width: 100px;
        height: auto;
    }

