@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Oswald:wght@700&display=swap');
* {
    /*Style da páigina*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

html {
    background-color: #111;
    font-family: "Oswald", sans-serif;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    z-index: 10;
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    justify-items: center;
    transition: .5s;
}

header.rolagem {
    background: #a51a1a;
    padding: 20px 4%;
}

header i .image {
    position: absolute;
    width: 62px;
    height: 62px;
    transform: translate(0%, -80%);
}

header nav {
    transform: translate(-30%);
    font-size: 20px;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    padding: 6px 10px;
    margin-left: 48px;
}

.home {
    color: #fff;
}

header ul li a {
    color: #e2a738;
    text-decoration: none;
}

.banner {
    height: 110vh;
    background-image: url("xy4y6x2j.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div .image  {
    transform: translate(-50%, -77%);
}

.flex h1 {
    color: #f7f7f7;
    font-size: 22px;
    position: absolute;
    /*transform: translate(65%, -40%);*/
    padding: 65px;
    transform: translate(0, -51%);
}

h1 span {
    color: #e2a738;
}

.btn_contato button {
    width: 100px;
    height: 40px;
    border: 0;
    margin: 0;

    text-align: center;
    outline: 0;
    padding: 0;

    background-color: #e2a738;
    color: #111;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn_contato button:hover {
    color: #fff
}

nav ul li a:hover {
    color: #fff;
}

.noticia {
    z-index: 5;
    background-color: #e2a738;
    width: 500px;
    height: 25%;
    transform: translate(8px, 65%);
    border-radius: 0 15px 15px 0;
    font-size: 230%;
    padding-left: 5px;
}

hr {
    z-index: 8;
    transform: translate(0, 60px);
    border: #111 solid 2px;
    background-color: #111;
    width: 450px;
}

.noticia .n1, .n2 {
    transform: translate(0, 55px);
}

.noticia .n2 {
    color: #f7f7f7;
    font-size: 57%;
    padding-top: 2px;
}

.destaque {
    z-index: 5;
    background-color: #fff;
    width: 450px;
    height: 40%;
    transform: translate(8px, 50%);
    border-radius: 0 15px 15px 0;
}

.h-destaque {
    background-color: #a51a1a;
    width: 100%;
    height: 18%;
    color: #fff;
    font-size: 140%;
    padding-top: 12px;
    padding-left: 5px;
    border-top-right-radius: 12px;
    transform: translate(0, -1%);
}

.produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 8px auto auto auto;
    padding: 20px 10px;
    font-family: "Oswald", sans-serif;
}

.produtos label {
    border: #111 solid;
    border-radius: 12px;
    padding: 2%;
    background-color: #fff;
    color: #111;
    width: 140px;
    height: 70%;
    position: relative;
}

.produtos img {
    width: 100%;
    max-width: 110px;
    height: 110px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

.produtos .preço {
    font-size: 110%;
}

.produtos .add-carrinho button {
    background-color: #fff;
    border: 1px solid #111;
    padding: 2px 3px;
    border-radius: 8px;
    right: 1%;
    bottom: 1%;
    position: absolute;
    font-size: 55%;
    font-family: 'Lucida Sans Regular';
}

.produtos .add-carrinho button span {
    font-size: 123%;
}

.produtos .add-carrinho button:hover {
    background-color: #e2a738;
    color: #fff;
}

.nos {
    z-index: 5;
    background-color: #555;
    width: 98%;
    height: auto;
    margin: 12px auto;
    margin-bottom: 0;
    padding: 20px 15px;
    border-radius: 2px 2px 0 0;
}

.nos h2 {
    text-align: center;
    font-size: 200%;
    color: #f7f7f7;
    border-bottom: #f7f7f7 solid 2px;
    width: 66%;
    margin: auto;
}

.nos p {
    font-family: sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 25px;
}

/*RODAPÉ*/
footer {
    background-color: #e2a738;
    color: #111;
    font-family: fantasy;
    font-size: 13px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}