.prod strong {
    color: #fff;
}

header.rolagem {
    position: fixed;
    background: #a51a1a;
    padding: 20px 4%;
}

.produtos-nav {
    color: #fff;
    background-color: #222;
    padding: 12px;
    font-family: Tahoma, sans-serif;
    text-transform: uppercase;
}

.produtos-nav h1 {
    margin-bottom: 8px;
}

.produtos-nav hr {
    width: 160px;
    background-color: #e2a738;
    height: 2px;
    border: none;
}

.produtos-nav ul {
    list-style-type: none;
}

.produtos-nav ul li {
    display: inline-block;
    margin: 8px 5px;
}

.produtos-nav ul li a {
    text-decoration: none;
}

.produtos-nav ul li button {
    background-color: #222;
    border-radius: 8px;
    border-width: 1px;
    padding: 2px 6px;
    width: max-content;
    font-weight: bold;
}

.produtos-nav ul li button:hover {
    color: #fff;
}

.produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    width: 81.2vw;
    max-width: 1400px;
    margin: 20px auto auto auto;
    padding: 20px 10px;
    font-family: "Oswald", sans-serif;
}

.produtos label {
    border: #111 solid;
    border-radius: 5%;
    padding: 12px;
    background-color: #fff;
    color: #111;
    width: 250px;
    height: 350px;
    position: relative;
}

.produtos label:hover {
    transform: scale(1.07);
    img {
        width: 225px;
        height: 225px;
        object-fit: scale-down;
    }
}

.produtos img {
    width: 225px;
    height: 225px;
    border-radius: 5% 5% 0 0;
    object-fit: cover;
    object-position: 50% 0%;
}

.produtos .preço {
    font-size: 150%;
    bottom: 4px;
    position: absolute;
}

.produtos .add-carrinho button {
    background-color: #fff;
    border: 1px solid #111;
    padding: 2px 3px;
    border-radius: 8px;
    right: 12px;
    bottom: 6px;
    position: absolute;
    font-size: 100%;
    font-family: 'Lucida Sans Regular';
}

.bx-cart-add {
    font-size: 150%;
}

.produtos .add-carrinho button:hover {
    background-color: #e2a738;
    color: #fff;
    cursor: pointer;
}
