.produtos-nav ul li button {
    color: #fff;
    border-color: #fff;
}

#x {
    color: #f11;
    background-color: #111;
    border-color: #f11;
    border-radius: 20%;
    border-width: 1px;
    padding: 2px 6px;
    width: max-content;
    font-weight: bold;
    font-size: 90%;
}
